/* Language Packs */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Sahitya&display=swap');

/* Dress up logic */
body {
    font-family: 'Sahitya', serif;
}

a {
    color: white;
    text-decoration: none;

    transition: color 250ms ease-in-out, 
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

a:hover{
    color: #A2A3BB;
}

/* Nav Header Styles */
nav#navHeader{
    color: aliceblue;
    background-color: black;

    display: flex;
    list-style: none;
}

ul.ulNav {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: .5em;

    display: flex;
}

li.liNav {
    display: inline;
    margin: 20px;
}

li.liNav#projectName{
    font-size: 2em;
    font-family: 'Montserrat Subrayada', sans-serif;
    margin: 0 auto;
    justify-content: center;
}

li.liNav#end{
    justify-content: right;
}

/* Main Page Meat */
div#mainDiv{
    display: grid;
    grid-template-areas:"a a a a"
                        "b b c c"
                        "b b c c";
                        /* "a a a a"
                        "b b b b"
                        "b b b b"
                        "c c c c"
                        "c c c c"; */
    column-gap: 20px;
    row-gap: 10px;

    padding: 1em;
}

    /* Main Div Insides */
    div#welcomeDiv{
        grid-area: a;
        padding-left: 2em;
    }

    /* About Div Insides */
    div#aboutDiv{
        /* border:.2em solid #f3f3f3; */
        border-radius: 1em;
        background-color: #ebebeb;
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;

        grid-area: b;

        padding: 1em;
    }

    /* Login / Signup Div */
    div#playContainer{
        /* border: .2em solid #f3f3f3; */
        border-radius: 1em;
        background-color: #ebebeb;
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;
        
        grid-area: c;

        padding: 1em;
    }

        /* Login Forms */
        p.playHeader{
            font-size: 1.5em;
            font-weight: bold;
        }

            /* LOGIN BUTTON STYLING */
            button#playButton{
                display: inline-block;
                border: none;
                border-radius: 5px;
                padding: 1rem 2rem;
                margin: 0;
                text-decoration: none;
                background: #36622d;
                color: #ffffff;
                font-family: sans-serif;
                font-size: 1rem;
                cursor: pointer;
                text-align: center;
                transition: background 250ms ease-in-out, 
                            transform 150ms ease;
                -webkit-appearance: none;
                -moz-appearance: none;
            }

            button#playButton:hover,
            button#playButton:focus {
                background: #AB2346;
            }

            button#playButton:focus {
                outline-offset: -4px;
            }

            button#playButton:active {
                transform: scale(0.99);
            }

/* Game Container Style */
div#gameContainer{
    background-color: #A2A3BB;
    border: none;
    border-radius: 1em;
    padding: 1rem 1rem;
    margin: 1em;
    text-decoration: none;

    text-align: center;
}

.hidden{
    display: none;
}

/* Footer Styles */

footer#footer{
    color: wheat;
    background-color: black;
    font-size: .8em;

    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}